body {
  background-color: #111111;
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #333;
  color: white;
  width: 15%;
}

.modal-content h5 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 15px;
}

.modal-content .btn-sign-in {
  margin-right: 10px;
  width: 100%;
  color: whitesmoke;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .modal-overlay {
    z-index: 3001 !important;
  }
  .modal-content {
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #333;
    color: white;
    width: 60%;
  }
}
